In [11]:
import pandas as pd
import numpy as np

In [12]:
data = pd.read_csv('Cleaned_Nasa_Data.csv')

## Remove quotes around district number
data["District"] = data["District"].str.replace('\'', '')
data['Center'] = data['Center'].str.split().str[0].str.strip()
data = data.drop(['Contractor'], axis = 1)
data.head()

  Center State District   Award  Year State-District         DSY
0    KSC    NY       11  12.702  2005          NY-11  NY-11-2005
1   AFRC    VA       11  99.907  2005          VA-11  VA-11-2005
2   LaRC    TX       03  13.500  2005          TX-03  TX-03-2005
3   AFRC    CA       49   5.825  2005          CA-49  CA-49-2005
4   AFRC    CA       22  13.396  2005          CA-22  CA-22-2005

In [13]:
data = data[['Center', 'State', 'District',  'State-District', 'Year','DSY','Award']]
data.head()

  Center State District State-District  Year         DSY   Award
0    KSC    NY       11          NY-11  2005  NY-11-2005  12.702
1   AFRC    VA       11          VA-11  2005  VA-11-2005  99.907
2   LaRC    TX       03          TX-03  2005  TX-03-2005  13.500
3   AFRC    CA       49          CA-49  2005  CA-49-2005   5.825
4   AFRC    CA       22          CA-22  2005  CA-22-2005  13.396

In [14]:
Statelist = ['NY', 'VA', 'TX', 'CA', 'WI', 'MN', 'NC', 'AZ', 'CT', 'FL', 'MI',
       'OH', 'MD', 'AL', 'NJ', 'IL', 'MS', 'OR', 'RI', 'NV', 'MA', 'DC',
       'CO', 'NH', 'DE', 'TN', 'PA', 'WA', 'NM', 'LA', 'KS', 'OK', 'MT',
       'IN', 'GA', 'AK', 'UT', 'IA', 'SC', 'ID', 'AR', 'VT', 'WV', 'MO',
       'WY', 'ME', 'SD', 'HI', 'ND', 'KY', 'NE', 'PR', 'UK', 'VI', 'GU',
       'AS']
Truestate = pd.read_csv("StateList.csv")
Truestate = list(Truestate["Code"])

NotState = []

for item in Statelist:
    if item not in Truestate:
        NotState.append(item)

NotState
#len(Truestate)

['PR', 'UK', 'VI', 'GU', 'AS']

In [19]:

AtLarge = ["AK","DE","MT","ND","SD","VT","WY"]

In [15]:
for terr in NotState:
    #print(len(data))
    data = data[data.State != terr]
    #print(len(data))

In [53]:
States = data.drop(["District","State-District","DSY"], axis = 1)
StateYear = States.groupby(["Year", "State"]).sum()

In [58]:
StateYear.to_csv(r'State_Cleaned_Nasa_Data.csv', index=True)

In [35]:
Districts = data.drop(data[(~data.State.isin(AtLarge)) & (data.District == "00")].index)
Districts

       Center State District State-District  Year         DSY      Award
0         KSC    NY       11          NY-11  2005  NY-11-2005     12.702
1        AFRC    VA       11          VA-11  2005  VA-11-2005     99.907
2        LaRC    TX       03          TX-03  2005  TX-03-2005     13.500
3        AFRC    CA       49          CA-49  2005  CA-49-2005      5.825
4        AFRC    CA       22          CA-22  2005  CA-22-2005     13.396
5         GRC    CA       25          CA-25  2005  CA-25-2005      9.468
6         GRC    CA       25          CA-25  2005  CA-25-2005      9.680
7         GRC    CA       25          CA-25  2005  CA-25-2005     29.500
8         GRC    CA       25          CA-25  2005  CA-25-2005     17.000
9        GSFC    CA       25          CA-25  2005  CA-25-2005     13.990
10        JSC    CA       25          CA-25  2005  CA-25-2005     17.985
11       LaRC    CA       25          CA-25  2005  CA-25-2005     16.150
12       LaRC    CA       25          CA-25  2005  CA-25-2005     66.140
13       MSFC    CA       25          CA-25  2005  CA-25-2005      7.800
14        ARC    CA       15          CA-15  2005  CA-15-2005    906.000
15       MSFC    WI       05          WI-05  2005  WI-05-2005      6.500
16        ARC    CA       14          CA-14  2005  CA-14-2005      3.297
17       GSFC    MN       04          MN-04  2005  MN-04-2005     24.425
18        JSC    MN       04          MN-04  2005  MN-04-2005     60.774
19        ARC    CA       14          CA-14  2005  CA-14-2005      6.728
20       LaRC    NC       04          NC-04  2005  NC-04-2005     21.000
21       LaRC    NC       04          NC-04  2005  NC-04-2005      5.000
22        GRC    NC       07          NC-07  2005  NC-07-2005     18.934
23        GRC    NC       07          NC-07  2005  NC-07-2005     20.046
24       GSFC    AZ       07          AZ-07  2005  AZ-07-2005    501.750
25        KSC    CT       04          CT-04  2005  CT-04-2005     17.174
26        KSC    CT       04          CT-04  2005  CT-04-2005      9.700
27        KSC    CT       04          CT-04  2005  CT-04-2005      5.805
28        KSC    CT       04          CT-04  2005  CT-04-2005      9.058
29       LaRC    CT       04          CT-04  2005  CT-04-2005     20.252
...       ...   ...      ...            ...   ...         ...        ...
406863    GRC    OH       16          OH-16  2019  OH-16-2019  14472.127
406864    GRC    OH       16          OH-16  2019  OH-16-2019   2048.313
406865    GRC    OH       16          OH-16  2019  OH-16-2019   5234.673
406866    GRC    OH       16          OH-16  2019  OH-16-2019   3014.318
406867    GRC    OH       16          OH-16  2019  OH-16-2019   3064.570
406868    GRC    OH       09          OH-09  2019  OH-09-2019   2563.950
406869   GSFC    OH       16          OH-16  2019  OH-16-2019      0.000
406870   NSSC    CO       01          CO-01  2019  CO-01-2019     11.391
406871   NSSC    CA       52          CA-52  2019  CA-52-2019    145.463
406872    KSC    FL       08          FL-08  2019  FL-08-2019    560.125
406873   NSSC    GA       06          GA-06  2019  GA-06-2019    145.667
406874   NSSC    GA       07          GA-07  2019  GA-07-2019     14.000
406875   NSSC    GA       07          GA-07  2019  GA-07-2019     11.372
406876   NSSC    GA       07          GA-07  2019  GA-07-2019    123.984
406877   NSSC    AZ       06          AZ-06  2019  AZ-06-2019     71.600
406878   NSSC    AZ       06          AZ-06  2019  AZ-06-2019    124.176
406879   NSSC    AZ       06          AZ-06  2019  AZ-06-2019    749.974
406880   NSSC    AZ       06          AZ-06  2019  AZ-06-2019     68.600
406881   NSSC    AZ       06          AZ-06  2019  AZ-06-2019    734.526
406882    JSC    WA       08          WA-08  2019  WA-08-2019    459.612
406883   NSSC    WA       08          WA-08  2019  WA-08-2019     11.526
406884   NSSC    OH       14          OH-14  2019  OH-14-2019     14.039
406885    GRC    VA       11          VA-11  2019  VA-11-2019    135.578
406886   NSSC    MD       08          MD-08  2019  MD-08-2019     22.880
406887   NSSC    CT       03          CT-03  2019  CT-03-2019      5.800
406888   NSSC    CT       03          CT-03  2019  CT-03-2019     22.466
406889   NSSC    CT       03          CT-03  2019  CT-03-2019    131.680
406890   GSFC    CT       03          CT-03  2019  CT-03-2019      0.000
406891   GSFC    CT       03          CT-03  2019  CT-03-2019     56.421
406892   GSFC    MD       05          MD-05  2019  MD-05-2019    179.705

[394587 rows x 7 columns]

Empty DataFrame
Columns: [Center, State, District, State-District, Year, DSY, Award]
Index: []

In [59]:
DistrictGroup = Districts.groupby(["Year","State","District"]).sum()
DistrictGroup.to_csv(r'District_Cleaned_Nasa_Data.csv', index=True)